<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DietApp.Properties.Settings.DietAppConnectionString"
      connectionString="Data Source=dietapp.cild60usm1fr.us-east-1.rds.amazonaws.com;Initial Catalog=DietApp;User ID=uwgproject;Password=r97kB###493"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>